

<style>
  .checkout-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }

  .checkout-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }

  .user-info {
    margin-bottom: 20px;
  }

  .user-info label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }

  .user-info input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .user-info .zip-code-container {
    display: flex;
    justify-content: space-between;
  }

  .user-info .zip-code-container input[type="text"] {
    width: 45%;
  }

  .cart-items ul {
    list-style-type: none;
    padding: 0;
  }

  .cart-items li {
    margin-bottom: 10px;
  }

  .item-details {
    font-size: 14px;
    color: gray;
  }

  .order-total {
    text-align: right;
    margin-top: 20px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }

  .checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #83a8b4;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .checkout-button:hover {
    background-color: #0056b3;
  }
</style>
  

{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block body %}

<div class="checkout-container">
  <h2 class="checkout-title">Checkout</h2>
  <div class="cart-items">
    <h3>Cart Items:</h3>
    <ul>
      {% for item in cart_items %}
      <li>
        <span class="item-name">{{ item.product_name }}</span>
        <span class="item-details">
          Quantity: {{ item.quantity }} |
          Color: {{ item.color }} |
          Price: {{ item.price }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="order-total">
    <h3>Total Price:</h3>
    <!-- Add total price here -->
  </div>
  
  <div class="checkout-container">
    <h2 class="checkout-title">Order Address</h2>
    <div class="user-info">
      <label for="street">Street:</label>
      <input type="text" id="street" name="street" placeholder="Enter your street" required>
      <label for="street">City:</label>
      <input type="text" id="city" name="city" placeholder="Enter city" required>
      <label for="state">State:</label>
      <input type="text" id="state" name="state" placeholder="Enter your state" required>
      <label for="zip">ZIP Code:</label>
      <input type="text" id="zip" name="zip" placeholder="Enter your ZIP code" required>
    </div>
    <form action="/checkout" method="post">
      <a href="#" class="checkout-button">Proceed to Checkout</a>
    </form>
  </div>

  
 
</div>


{% endblock %}

