{% extends "base.html" %}

<style>
    *{
            margin:0;
            padding: 0%;
            height: 100%;
            box-sizing: border-box;
        }
        body{
            background-color: #dcd3bd;
            min-height: 100vh;
        }
        #company-title{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .main-content{
            display: grid;
            grid-template-columns: 250px 200px;
            grid-template-rows: 200px;
            gap: 20px;
            justify-content: space-between;
        }

        

        .cart-column{
            display: grid;
            grid-template-columns: 200px;
            background-color: lightblue;
            justify-content: space-between;
            text-align: center;
        }

        footer{
            /* display: grid; */
            height: auto;
            width: auto;
            /* grid-template-columns: repeat(2, 50%); */
            /* gap: 50px; */
            padding: 50px;
            position: fixed;
            min-height: 100vh;
            background-color: #80674f;
        }

        .fa{
            padding: 10px;
            font-size: 30px;
            text-decoration: none;
            color: white;
        }

        .fa-facebook{
            background-color: lightblue;
            height: 85%;
        }

        .fa-twitter{
            color: aqua;
        }
</style>
{% block body %}
<div class="main-content">
    <div class="greeting-box">
        Hello, {username}
    </div>
    <div class="cart-column">
        <div>
            <h2>Cart</h2>
        </div>
            <button style="color: blue;">Submit</button>
    </div>
</div>
{% endblock %}