<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    

    .main-content{
        display: grid;
        height: 77%;
        background-color: yellow;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .content-item{

        
        background-color: lightblue;

    }

#content-item{
    font-size: 50pt;
}
</style>
{% extends "base.html" %}

{% block header %}
<header class="header-section">
    <div class="header-item-1">
        <h2 id="company-title">The Comfort Zone</h2>
    </div>
    <div class="header-item-2">
        <a href="">Store</a>
        <a href="">Users</a>
        <a href="">About</a>
    </div>

    <div class="header-item-3">
        <button name="logout">Log Out</button>
    </div>
</header>
{% endblock %}

{% block body %} 
<div class = "main-content">
    <div class="content-item intro-box">
        {Hello, {current_user.username}}
    </div>
    <div class="content-item cart">
        <h2>Cart</h2>
    </div>
    <div class="content-item slideshow">
        TEST
    </div>
    <div class="content-item orders-box">
        TEST
    </div>
    <div class="content-item reviews-box">
        
    </div>
</div>
{% endblock %}