<style>        
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices-container{
    display: flex;
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: tan;
    color: white;
}

button{
    border: 2px solid salmon;
}

</style>

{% extends "base.html" %}
{% block body %}
<div class="choices-container">
    <div>
        <h2>Order #{{ order.order_id }}</h2>
        <h2>Status: {{ order.status.capitalize() }}</h2>
    </div>
    <form action="{{ url_for('views.order_manipulation', order_id=order.order_id) }}" method="POST">
        <div>
            <button type="submit" name="pending" value="pending">SET STATUS TO Pending</button>
        </div>
        <div>
            <button type="submit" name="complete" value="complete">SET STATUS TO Shipped</button>
        </div>
        <div>
            <button type="submit" name="delete" value="delete">Delete Order</button>
        </div>
    </form>
</div>
{% endblock %}