<style>
    
    
    .main-content {
        min-width: 800px;
        width: fit-content;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }

    .product-details{
        padding: 30px;
        margin: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }
    
    .product-info {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
    }

    .product-title-img {
        display: block;
    }
    
    .product-title {
        font-size: 32pt;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        text-shadow: 2px 2px #ccc;
    }
    
    .product-img {
        display: block;
        width: 500px;
    }
    
    .product-info label {
        margin-right: 10px;
        font-weight: bold;
    }
    
    .product-info select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    .product-desc {
        line-height: 1.5;
        margin-bottom: 20px;
       max-width: 500px;
    }
    
    .price {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
        border: none;
        text-shadow: 1px 1px #333;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }

    .product-image{
        height: 400px;
        width: 600px;
    }

    .review {
        margin-top: 10px;
        background-color: #dcd3bd;
        padding: 10px;
        border-radius: 10px;
    }

    .name-and-stars {
        width: fit-content;
        display: flex;
        justify-content: space-between;
    }

    .review-stars {
        display: flex;
    }

    .star {
        color: rgb(207, 176, 0);
        align-self: center;
    }

    .w50px {
        width: 50px;
    }

    .review-date {
        align-self: center;
        margin-left: 10px;
    }

    .review-message-image {
        display: flex;
        justify-content: space-between;
    }

    .review-image {
        display: block;
        height: 200px;
        width: 300px;
    }

</style>

{% extends 'base.html' %}
{% block title %}
{{ title }} | The Comfort Zone
{% endblock %}

{% block body %}
<div class="container">
    <div class="product-title-img">
        <h1 class="product-title">{{ title }}</h1>
        <img class="product-img" src="{{ url_for('static', filename='uploads/' + product_image) }}" alt="Product Image">
    </div>
    <form class="product-details" method="POST" action="/add-to-cart">
        <input type="hidden" name="vendor_product_id" value="{{ vendor_product_id }}">
        <div class="product-desc">
            <p>{{ description }}</p>
        </div>
        <div class="product-info">
            <label for="vendor">Vendor:</label>
            <select name="vendor" id="vendor">
                {% for vendor in vendors %}
                {% if vendor[1] | int == default_vendor | int %}
                <option value="{{ vendor[1] }}" selected>{{ vendor[0] }}</option>
                {% else %}
                <option value="{{ vendor[1] }}">{{ vendor[0] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="product-info">
            <label for="quantity">Quantity:</label>
            <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        {% if colors | length > 0 %}
        <div class="product-info">
            <label for="color">Color:</label>
            <select name="color" id="color">
                {% for color in colors %}
                <option value="{{ color }}">{{ color }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% if sizes | length > 0 %}
        <div class="product-info">
            <label for="size">Size:</label>
            <select name="size" id="size">
                {% for size in sizes %}
                <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <p class="price">${{ price[0] }}</p>
        <button type="submit" class="btn add-to-cart">Add to Cart</button>
    </form>
</div>
<div class="reviews">
    <h1 class="review-title">Reviews</h1>
    <hr>
    {% if reviews | length > 0 %}
    {% for review in reviews %}
    <div class="review">
        <div class="name-and-stars">
            <h2 class="review-name">{{ review.name }}</h2>
            <p class="review-date">{{ review.review_date.strftime("%b %d, %Y") }}</p>
            <div class="w50px"></div>
            <div class="review-stars">
                {% for i in range(5) %}
                {% if review.rating > i %}
                <ion-icon class="star" name="star"></ion-icon>
                {% else %}
                <ion-icon class="star" name="star-outline"></ion-icon>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="review-message-image">
            <p class="review-message">{{ review.message }}</p>
            <img class="review-image" src="{{ url_for('static', filename='uploads/' + review.image) }}">
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="no-reviews-msg">Be the first to review this product!</p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $("#vendor").on("change", function() {
        let queryParams = new URLSearchParams(window.location.search);
        let newVendorId = $("#vendor").val();

        queryParams.set("vendor_id", newVendorId);

        let newUrl = new URL(window.location.origin + window.location.pathname + "?" + queryParams.toString())
        window.location.href = newUrl;
    });
</script>
{% endblock %}