<style>
  .main-content {
    padding: 15px;
  }
  
  .category-selection {
    background-color: lightblue;
    padding: 5px;
    margin-right: 15px;
    float: left;
    min-width: fit-content;
    width: 200px;
    height: inherit;
  }
  
  .category {
    padding: 5px;
    margin-left: 10px;
  }

  .product-card {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background-color: gray;
  }
  
</style>
{% extends 'base.html' %}
{% block title %}
Shop
{% endblock %}
{% block body %}
<div class="category-selection">
  {% for category in categories %}
  <p><a class="category" href="/shop?category={{ category | lower }}">{{ category }}</a></p>
  {% endfor %}
</div>
{% for product in products %}
<a class="product-card" href="/shop/product/{{ product.product_id }}">
  <img class="product-img" src="{{ product.product_image }}" alt="pic">
  <h2 class="product-title">{{ product.title }}</h2>
</a>
{% endfor %}
{% endblock %}