
<style>

</style>
{% extends 'base.html' %}
{% block title %}
Shop
{% endblock %}
{% block body %}
<div class="category-selection">
  {% for category in categories %}
  {% endfor %}
</div>
{% for product in products %}
<div class="">
  <div class="">
    <img class="" src="{{ product.product_image }}" alt="{{ product.title }}">
    <div class="">
      <h4 class="">{{ product.title }}</h4>
      <p class="">{{ product.category }}</p>
      <div class="">
        <div class="">
          <button type="button" class="">Add to cart</button>
          <button type="button" class="">View details</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% for i in range(50) %}
<h1>{{ i }}</h1>
{% endfor %}
{% endblock %}